.list__container {
  width: 250px;
  min-height: 200px;
  margin: 20px;
  padding: 20px;
  background-color: #eee;
  margin-inline:auto;
  margin-top: 50px;
  position: relative;
  padding-bottom: 50px;
  border-radius: 6px;
  color: black;
}

.task{
  background-color: #bfbcbc;
  margin-bottom: 10px;
  padding: 5px 10px;
  border-radius: 5px;
  min-width: 200px;
  width: fit-content;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task svg {
  color: red;
  cursor: pointer;
}

.btn_clear{
  position: absolute;
  bottom: 0;
  right: 0;margin-top: 50px;
}